.plan img{
    width: 300px;
    margin-bottom: 10px;
}
.plan button{
    width: 150px;
    height: 60px;
    font-size: 20pt;
    margin: 20px auto;
    position: relative;
    left: 25%;
}

.plan_img{
    height: 420px;
}

.plan{
    margin-bottom: 50px;
}
.imformation p{
    line-height: 40px;
}
